.sections {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 4px;
}

.section .header {
    display: flex;
    justify-content: space-between;
}

.products {
    padding: 10px;
    border: 1px dashed lightgray;
}