.productList {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.productList li {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 0.2em;
    min-height: 30px;
    max-height: 30px;
    padding: 0.2em;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    transition: all .1s ease-out;
    cursor: pointer;
}

.productList li:hover {
    max-height: 100px;
    border-color: var(--primary-color);
    background-color: var(--highlight-color);
}

.productList li p:first-child {
    overflow: hidden;
}

.productList li p:last-child {
    align-self: center;
}