.productForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.productForm form {
  flex-grow: 1;
}

.productForm form button {
  background: var(--primary-color);
  color: #fff;
}

.productForm > button {
  display: block;
}